$regularFontFamily: "GothamProRegular", sans-serif;
$boldFontFamily: "GothamProBold", sans-serif;
$italicFontFamily: "GothamProItalic", sans-serif;
$blackFontFamily: "GothamProBlack", sans-serif;

$primaryColor: #646464;
$linkHoverColor: #545ad8;