@import "_normalize.scss";
@import "_variables.scss";

@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamPro/GothamProRegular/GothamProRegular.eot");
  src: url("../fonts/GothamPro/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/GothamPro/GothamProRegular/GothamProRegular.woff") format("woff"),
  url("../fonts/GothamPro/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamPro/GothamProBold/GothamProBold.eot");
  src: url("../fonts/GothamPro/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/GothamPro/GothamProBold/GothamProBold.woff") format("woff"),
  url("../fonts/GothamPro/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProItalic";
  src: url("../fonts/GothamPro/GothamProItalic/GothamProItalic.eot");
  src: url("../fonts/GothamPro/GothamProItalic/GothamProItalic.eot?#iefix") format("embedded-opentype"),
  url("../fonts/GothamPro/GothamProItalic/GothamProItalic.woff") format("woff"),
  url("../fonts/GothamPro/GothamProItalic/GothamProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBlack";
  src: url("../fonts/GothamPro/GothamProBlack/GothamProBlack.eot");
  src: url("../fonts/GothamPro/GothamProBlack/GothamProBlack.eot?#iefix") format("embedded-opentype"),
  url("../fonts/GothamPro/GothamProBlack/GothamProBlack.woff") format("woff"),
  url("../fonts/GothamPro/GothamProBlack/GothamProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  transition: all 0.3s ease-in;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body, html {
  min-height: 100%;
}

body {
  color: $primaryColor;
  font-family: $regularFontFamily;
  font-size: 14px;
  font-weight: 400;
}

.ma-header {
  padding-top: 15px;
}

.navbar {
  border: none;
}

.nav > li > a {
  padding: 15px 12px;
  &:hover {
    color: #545ad8 !important;
  }
}

.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-brand {
  padding: 0;
  &__logo {
    display: inline-block !important;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__title {
    display: inline-block;
    margin: 0 0 0 29px;
    font-family: $boldFontFamily;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.54px;
  }
}

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  border: none;
}

.ma-full-slider {
  height: 650px;
  position: relative;
  &__img {
    width: 100%;
    height: 650px;
  }
  &__banner {
    position: absolute;
    width: auto;
    z-index: 1005;
    padding-top: 140px;
  }
  &__title {
    color: #fff;
    font-family: $boldFontFamily;
    font-size: 75px;
    font-weight: 700;
    letter-spacing: 2.25px;
    margin-bottom: 36px;
  }
  &__text {
    color: #ffffff;
    line-height: 20px;
    letter-spacing: 0.42px;
    margin-bottom: 50px;
  }
  &__btn {
    display: block;
    padding: 20px 57px;
    text-decoration: none;
    color: #ffffff;
    font-family: $blackFontFamily;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.48px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    background-color: #646464;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
    &:focus {
      outline: none;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.ma-full-slider .slick-prev,
.ma-full-slider .slick-next {
  z-index: 1001;
}

.ma-full-slider .slick-prev {
  left: 100px;
}

.ma-full-slider .slick-prev:before {
  content: url("../img/full-slider-arrow-left.png");
}

.ma-full-slider .slick-next {
  right: 150px;
}

.ma-full-slider .slick-next:before {
  content: url("../img/full-slider-arrow-right.png");
}

.slick-dots {
  bottom: 20px;

}

.slick-dots li button:before {
  font-size: 24px;
  content: '•';
  color: #fff;
}

.slick-dots li.slick-active button:before {
  color: #fff;
}

.modal-backdrop {
  z-index: 1;
}

.modal-body {
  text-align: center;
  font-family: $boldFontFamily;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.54px;
}

.modal-header,
.modal-footer {
  border: none;
}

.modal-footer {
  text-align: center;
}

.modal-footer-btn {
  display: block;
  width: 30%;
  padding: 20px 58px;
  color: #ffffff;
  font-family: $blackFontFamily;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  border-radius: 20px;
  border: 1px solid #ffffff;
  background-color: #646464;
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

.ma-mini-slider {
  &__item {
    margin: 0 15px;
    height: 182px;
    outline: none;
    cursor: pointer;
  }
  &__img {
    max-width: 100%;
    height: auto;
  }
  &__title {
    font-family: $boldFontFamily;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.72px;
    margin-bottom: 42px;
    &:before {
      display: block;
      background-color: $primaryColor;
      position: absolute;
      content: "";
      width: 32px;
      height: 4px;
      left: 570px;
      right: 0;
      top: 46px;
    }
  }
}

.ma-mini-slider .slick-prev {
  left: -100px;
}

.ma-mini-slider .slick-prev:before {
  content: url("../img/mini-slider-arrow-left.png");
}

.ma-mini-slider .slick-next {
  right: -50px;
}

.ma-mini-slider .slick-next:before {
  content: url("../img/mini-slider-arrow-right.png");
}

.ma-columns {
  padding: 41px 0 0 0;
  margin: 0 auto;
  &__first-row {
    margin-bottom: 67px;
  }
  &__title {
    font-family: $boldFontFamily;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.72px;
    position: relative;
    margin-bottom: 42px;
    &:before {
      display: block;
      background-color: $primaryColor;
      position: absolute;
      content: "";
      width: 32px;
      height: 4px;
      left: 556px;
      right: 0;
      top: 28px;
    }
  }
  &__subtitle {
    font-family: $boldFontFamily;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.54px;
    line-height: 30px;
    margin-bottom: 35px;
  }
  &__text {
    line-height: 24px;
  }
}

.ma-article {
  padding: 40px 0 85px;
  &__title {
    font-family: $boldFontFamily;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.72px;
    position: relative;
    margin-bottom: 92px;
    &:before {
      display: block;
      background-color: $primaryColor;
      position: absolute;
      content: "";
      width: 32px;
      height: 4px;
      left: 556px;
      right: 0;
      top: 28px;
    }
  }
  &__subtitle {
    font-family: $boldFontFamily;
    font-weight: 700;
    letter-spacing: 0.48px;
    margin-bottom: 35px;
  }
  &__text {
    color: #000;
    font-family: $regularFontFamily;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.25px;
    margin-bottom: 27px;
    &--bold {
      font-family: $boldFontFamily;
      font-weight: 700;
    }
    &--italic {
      font-style: italic;
    }
    &--underline {
      text-decoration: underline;
    }
  }
  &__text-href {
    color: #545ad8;
    text-decoration: underline;
    &:hover {
      color: #545ad8;
    }
  }
}

#map {
  width: 100%;
  height: 600px;
}


@media (max-width: 1024px) {
  .ma-full-slider__text {
    margin-bottom: 25px;
  }
  .ma-mini-slider .slick-prev {
    left: 365px;
    top: 180px;
  }

  .ma-mini-slider .slick-next {
    right: 400px;
    top: 180px;
  }
  .ma-mini-slider__title:before {
    display: none;
  }
  .ma-columns__title:before {
    display: none;
  }
  .ma-article__title:before {
    display: none;
  }
}


@media (max-width: 320px) {
  .navbar-brand__title {
    display: none;
  }
  #full-slider,
  #mini-slider {
    display: none;
  }

}